{% extends "base_layout.html" %}

{% block title %}API Reference{% endblock %}

{% block main %}
  <section class="api">
    <div class="api-menu">
      {% for section in sections %}
        <dl>
          <dt><a href="#section-{{ section.slug }}">{{ section.name }}</a></dt>
          {% for symbol in section.symbols %}
            <dd><a href="#symbol-{{ symbol.name }}">{{ symbol.name }}</a></dd>
          {% endfor %}
        </dl>
      {% endfor %}
    </div>

    <div class="page">
      {% for section in sections %}
        <article id="section-{{ section.slug }}" class="section">
          <h1>{{ section.name }}</h1>

          <div class="symbols">
            {% for symbol in section.symbols %}
              <div class="symbol" id="symbol-{{ symbol.name }}">
                {% if symbol.type == "function" %}
                  <h2>({{ symbol.name }} {{ symbol.args }})</h2>
                {% else %}
                  <h2>{{ symbol.name }}</h2>
                {% endif %}

                {% if symbol.docs %}
                  <div class="docstring">
                    {{ symbol.docs }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
