@charset "UTF-8";
@import 'fontawesome-all.min.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

:root {
    --page-width: 1240px;
}

body {
    /* Reset */
    margin: 0;
    padding: 0;

    /* Color and background */
    color: rgba(255, 255, 255, 0.65);
    background-color: #935d8c;
    background-image: url("images/overlay.png"),
                      linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

/* Font settings */
body, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    line-height: 1.65;
}

/* Menu */
.menu ul              { max-width: var(--dm-page-width); margin: 0 auto; padding: 0; list-style: none; display: flex; }
.menu li              { margin-right: 20px; }
.menu a               { text-decoration: none; padding: 20px 0; display: block; color: var(--cl-link-nav); }
.menu a:hover         { text-decoration: underline; }

/* Navigation */
.nav                  { display: flex; }
.nav h1               { background: var(--cl-banner-bg); color: var(--cl-fg-light);
                        text-transform: lowercase; font-size: 1.5rem; font-weight: 500;
                        min-width: 200px; width: 20%; display: block; margin: 0px; padding: 20px; }
.nav h1 a             { text-decoration: none; color: var(--cl-link-nav); font-family: var(--ft-logofm); }
.nav h1 a:hover       { color: var(--cl-blue2); text-shadow: var(--cl-gray2) 0.01px 0 0.2px; }
.nav h1 img           { width: 80px; height: 80px; }
.nav .menu            { background: var(--cl-bg-dark); flex-grow: 1; font-size: 1.5rem; }
.nav .menu a          { color: var(--cl-fg-light); }

/* Footer */
.footer               { width: var(--page-width); background-image: linear-gradient(#e37682);
                        margin: auto; padding: 30px 0 190px 0; }
.footer ul            { max-width: var(--dm-page-width); margin: 0 auto; list-style: none; padding: 0; display: flex; }
.footer li            { margin-right: 20px; }
.footer li:last-child { margin-right: 0; }
.footer img           { vertical-align: middle; padding-bottom: 3px; transition: 0.5s; width: 16px; height: 16px; }
.footer img:hover     { transition: 0.5s; width: 19px; height: 19px; }
.footer a             { color: var(--cl-link-page); text-decoration: none; }
.footer a:hover       { text-decoration: underline; }
.footer .ack          { max-width: var(--dm-page-width); margin: 0 auto; padding-top: 50px; }
.footer a.M-x         { width: 20px; display: inline-block; text-align: center; }
.footer a:hover.M-x   { text-decoration: none; }

/* General settings for the content area */
.page                 { display: flex; }
.content              { flex-grow: 1; margin-bottom: 100px; }
.content article      { max-width: var(--dm-page-width); margin: 0 auto; }
.content h1           { color: var(--cl-h1); font-weight: 50; }
.content h2           { color: var(--cl-h2); font-weight: 500; }
.content p            { margin-bottom: 1.5rem; }
.content a            { color: var(--cl-link-page); text-decoration: none; }
.content a:hover      { text-decoration: underline; }
.content h1           { font-size: 28pt; }
.content h2           { font-size: 14pt; }
.content .section     { border-bottom: solid 1px var(--cl-border-nav); }
.content .docstring   { padding-left: 50px; }
.content .symbol      { margin-bottom: 50px; }

/* Index page */
.page.index           { display: block; }
.index header         { padding: 4em 5em 1em 5em; }
.index .banner        { display: flex; flex-direction: column; align-items: center; }
.index .banner h1     { display: flex; flex-direction: column; align-items: center; font-size: 80px; margin: auto;
                        font-weight: 300; letter-spacing: -0.025em; }
.index .banner h1 img { width: 245px; clean: right; margin-bottom: 40px; }
.index .banner .sub   { font-size: 30px; font-weight: 100; margin: 0; padding: 0 0 50px 0; color: #aaa; }
.index .menu          { background: var(--cl-bg-light); border-bottom: 1px solid var(--cl-border-nav);
                        width: var(--page-width); margin: auto; }
.index .action        { text-align: center; }
.index .action a      { display: block; width: 150px;
                        background: #af0069; color: #fff;
                        font-size: 28px;
                        padding: 20px 30px; margin: -40px auto;
                        font-weight: 800; border: solid 20px #fff; border-radius: 90px;
                        margin-bottom: -60px;
                        position: relative; z-index: 10;
                        letter-spacing: -2px; }

.index .action a:hover { background: #c70039; text-decoration: none; }

/* Features */
.no-heading h2        { display: none; }
.features             { width: var(--page-width); margin: auto; padding: 80px 0; border-radius: 15px;
                        display: flex; flex-wrap: wrap; justify-content: center;
                        color: #333; background: #fff; }
.feature              { width: calc(40% - 4em); margin: 0;
                        padding: 20px 60px 20px 90px; }
.feature h3           { height: 60px; background-size: 60px 60px; background-repeat: no-repeat;
                        padding-left: 70px;  display: table-cell; vertical-align: middle; }
.feature.emacs-lisp h3 { background-image: url("../images/emacs-bw-icon.svg"); }
.feature.static     h3 { background-image: url("../images/html-bw-icon.svg"); }
.feature.templating h3 { background-image: url("../images/template-bw-icon.svg"); }
.feature.blog       h3 { background-image: url("../images/rss-bw-icon.svg"); }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px) {

    :root { --page-width: calc(100% - 40px); }

    .content               { margin-bottom: 50px; }

    .footer                { padding-bottom: 50px; }
    .footer ul             { flex-direction: column; }
    .footer .ack           { text-align: center; }

    .index header          { padding: 20px; }
    .index .banner         { text-align: center; }
    .index .banner h1 img  { height: 245px; }
    .feature               { width: 100%; padding: 20px; background-position: 20px 20px; }
    .feature h3            { padding-left: 70px; }
}
