<!doctype html>
<html lang="en-us">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>My personal blorg - {% block title %}Home{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="John Coltrane" />
    <meta name="description" content="my personal blog" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/public/style.css" type="text/css" />
    {% endblock %}
  </head>
  <body>
    {# Top navigation bar #}
    {% block nav %}
    <header class="logo">
      <h1>
        <a href="/">My personal blorg</a>
        {% block title %}{% endblock %}
      </h1>
      <a href="#main" class="visually-hidden">jump to main content</a>
      <nav>
        <ul class="menu">
          <li><a href="/about">about</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/slides">about</a></li>
        </ul>
        <ul class="social">
          <li><a class="social github" href="http://github.com/">
            <i class="fas fa-home" aria-hidden="true"></i>
             <span class="visually-hidden">github</span>
          </a></li>
          <li><a class="social rss" href="rss"></a>
            <i class="fas fa-rss" aria-hidden="true"></i>
            <span class="visually-hidden">rss</span>
          </li>
          <li><a class="social email" href="mailto:johncoltrane@jazz.com">
            <i class="fas fa-email" aria-hidden="true"></i>
            <span class="visually-hidden">email</span>
          </a></li>
        </ul>
      </nav>
    </header>
    {% endblock %}

    {# Probably where most of the action will happen #}
    <main id="main">
      {% block main %}{% endblock %}
    </main>


    {# Links, copyright notice, etc #}
    {% block footer %}
    <footer class="footer">
      <div class="ack">
        Made with &#x2665; by
        <a href="https://github.com/clarete/blorg" target="_blank">
          blorg
        </a>
      </div>
    </footer>
    {% endblock %}

  </body>
</html>
